# ignore file for embeddedPractice

# ignore all object files
*.o

# ignore all static libs
*.a

# ignore any bin dir
*/bin/*

# ignore build dirs
*/build/*

# ignore any .vscode dir
*.vscode*

# ignore .DS_STORE
*.DS_STORE
